body{
    background-color:#79b4b7;
}

h2{
    background-color:#fefbf3;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 800px;
    text-align: center; 
    color:#9d9d9d;
    font-family: Georgia;
}
p{
    color:#fefbf3;
    font-size: 25px;
    height: 500px;
    font-family:'Times New Roman';
}
footer{
    color:#fefbf3;
    text-align: center;
}